/////////////
// Colours //
/////////////
$fontColor: #444;

$brand-light: #91cdd2;
$brand-primary: #2495B3;
$brand-dark: #0d2738;

$green: #72CC72;
$red: #CC7272;
$yellow: #FFF9E8;
$white: #fff;
$orange: #fd9f28;

$grey: #F3F3F4;
$grey-light: #F9F9F9;
$grey-dark: #99A2A5;

$black: #20232A;

$jager-orange: #dd5a12;
$jager-dark-green: #193e0f;
$jager-text-dark-green: #2f421f;
$jager-off-white: #e9e3c7;

/////////////
// Utility //
/////////////
$screen-sm-max: 639px;
$screen-md-min: 640px;
$screen-lg-min: 960px;
$screen-xlg-min: 1300px;
